{% extends 'base-front.html.twig' %}
{% block body%}

    <main class="site-content" id="wrapper">

	
   <div class="widget-area widger-area--before-loop">
    
        <div class="widget widget-carousel slick-slider">
       
            <article class="widget-carousel__item player bg-image bg--ph-03">
            <a class="nav-link btn btn-primary" href="{{ path('cart_index') }}">
				<i class="fas fa-shopping-cart mr-1"></i>
				Panier
				<span style="font-size:1.2em;height:30px; width:30px;display: inline-block; background: red; border-radius: 50%; color:white; text-align:center; font-weight: bold; padding: 2px;">{{ totalItems }}</span>
			</a>
                <div class="player__subtitle h6">Welcome</div>
                <h1 class="player__title h3 color-primary">JULIE_NOIRE</h1>
                <div class="player__body">
                    <div class="h5">To the <span class="color-primary">Xenovrese</span> team!</div>
                </div>
                
            </article>
            <article class="widget-carousel__item player bg-image bg--ph-05">
            <a class="nav-link btn btn-primary" href="{{ path('cart_index') }}">
				<i class="fas fa-shopping-cart mr-1"></i>
				Panier
				<span style="font-size:1.2em;height:30px; width:30px;display: inline-block; background: red; border-radius: 50%; color:white; text-align:center; font-weight: bold; padding: 2px;">{{ totalItems }}</span>
			</a>
                <div class="player__subtitle h6">Congratulations!</div>
                <h1 class="player__title h3">Crazzzy_80</h1>
                <div class="player__body">
                    <div class="h5 color-primary">Reached 10k twitch subs</div>
                </div>
                
            </article>
            <article class="widget-carousel__item player bg-image bg--ph-06">
            <a class="nav-link btn btn-primary" href="{{ path('cart_index') }}">
				<i class="fas fa-shopping-cart mr-1"></i>
				Panier
				<span style="font-size:1.2em;height:30px; width:30px;display: inline-block; background: red; border-radius: 50%; color:white; text-align:center; font-weight: bold; padding: 2px;">{{ totalItems }}</span>
			</a>
                <div class="player__subtitle h6">Featured player</div>
                <h1 class="player__title h3 color-warning">G-Huntress</h1>
                <div class="player__body">
                    <ul class="player__stats">
                        <li class="counter">
                            <div class="counter__number">28</div>
                            <div class="counter__label">Games</div>
                        </li>
                        <li class="counter">
                            <div class="counter__number">73</div>
                            <div class="counter__label">Kills</div>
                        </li>
                        <li class="counter">
                            <div class="counter__number">96</div>
                            <div class="counter__label">Win %</div>
                        </li>
                    </ul>
                </div>
                
            </article>
        </div>
    </div> 
    <div class="content blog-layout--style-1">
        {% for produit in produits %}

        <article class="post has-post-thumbnail ">
            <div class="post__thumbnail">

                <a href="{{ path('produit_show_client', {'id': produit.id_produit}) }}"> <img src=" {{ asset('/upload/images/'~produit.getImageProduit())}}"></a>


            </div>
            <div class="post__body">
                <div class="post__header">
                    <ul class="post__cats list-unstyled">
                        <li class="post__cats-item color-warning">
                            <a href="#">{{ produit.categorieProduit }}</a>
                        </li>
                    </ul>
                    <h2 class="post__title h4"><a href="blog-post.html">{{ produit.nomProduit }}</a></h2>
                    <ul class="post__meta list-unstyled">
                        <li class="post__meta-item post__meta-item--date">
                            <a href="#">August 15th, 2018</a>
                        </li>
                    </ul>
                </div>
                <div class="post__excerpt">
                        {{ produit.descriptionProduit }}
                </div>

            </div>  
            <div class="post__excerpt">
                    
                    <a href="{{ path('cart_add', {'id': produit.id_produit}) }}" class="more-info-link h3"><span class=""><img src="front_office/assets/img/Green-Add.png" width="20" height="20" alt=""></span></a>
             </div>
        </article>
        {% endfor %}

    </div>
    </main>
{% endblock %}