{% extends 'base-front.html.twig' %}

{% block body %}
		<main class="site-content site-content--center page" id="wrapper">
			<div class="container container--large">
				<div class="page-heading page-heading--default">
					<div class="page-heading__subtitle h5 color-primary">mes</div>
					<h1 class="page-heading__title h2">  commandes </h1>
				</div>
				
				<div class="table-responsive mt-sm-auto mb-sm-auto">
					<table class="table matches-table standings-table">
						<thead>
							<tr>
								<th>num commande</th>
								<th>date</th>
								<th>adresse</th>
								<th>prix totale</th>
								<th>mes jeux</th>
								<th>mes jeux 2</th>


							</tr>
						</thead>
						<tbody>

                        {% for commande in commandes %}

							<tr>
								<td>{{ commande.id_commande }}</td>
								<td class="standings-table__team">
									<figure class="match-team" role="group">
										<figure class="match-team-logo match-team-logo--team-2" role="group">
											<img src="{{asset('front_office/assets/img/samples/logo-rhinos-30@2x.png 2x')}}" srcset="{{asset('front_office/assets/img/samples/logo-rhinos-30@2x.png 2x')}}" alt="" >
										</figure>
										<figcaption>
												<div class="match-team__country ">{{ commande.getDateCommande() |date("d/m/Y")}}</div>
										</figcaption>
									</figure>
								</td>
								<td class="standings-table__wins">{{ commande.getAdresseLivraison()}}</td>
								<td class="standings-table__losses">{{ commande.getPrixTotale() }}</td>
								<td><button id="add-to-cart" onclick="add({{ commande.id_commande }})" class="btn btn-primary btn-xs">
                                        <a href="{{ path('voirproduitcommande', {'id': commande.id_commande}) }}">voir jeux</a>
                                        </button><br>

                                </td>
								<td><button id="addproduit" class="addproduit" value="{{ commande.id_commande }}">
                                        <a href ="#" data-path="{{ path('voirproduitcommandeaj', {'id': commande.id_commande}) }}" class="envoyer">voir jeux</a>
                                        </button><br>

                                </td>
								
							</tr>

                            {% endfor %}
		
						</tbody>
					</table>
				</div>
                
			</div>


            <div class="container container--large">
				<div class="page-heading page-heading--default">
					<div class="page-heading__subtitle h5 ">mes</div>
					<h1 class="page-heading__title h2 color-primary"> jeux </h1>
            {% if commande1 is not null %}

                    <h3 class="page-heading__title h5">( {{commande1.id_commande}} )</h3>

            {% endif %}
				</div>
				
				<div class="table-responsive mt-sm-auto mb-sm-auto">
					<table class="table matches-table standings-table">
						<thead>
							<tr>
								<th>num produit</th>
								<th>nom produit</th>
								<th>prix</th>
								<th>lien</th>


							</tr>
						</thead>
						<tbody>

                        {% for produit in produits %}

							<tr>
								<td>{{ produit.id_produit }}</td>
								<td class="standings-table__team">
									<figure class="match-team" role="group">
										<figure class="match-team-logo match-team-logo--team-3" role="group">
											<img src="{{asset('front_office/assets/img/samples/logo-panthers-30.png')}}" srcset="{{asset('front_office/assets/img/samples/logo-panthers-30.png')}}" alt="">
										</figure>
										<figcaption>
												<div class="match-team__country ">{{ produit.nomProduit}}</div>
										</figcaption>
									</figure>
								</td>
								<td class="standings-table__wins">{{produit.prixProduit}}</td>
								<td class="standings-table__losses">{{ produit.lienProduit}}</td>
								<td>
                                    <img src="{{ asset('upload/images/'~produit.getImageProduit()~'') }}" height="200px" widh="200px">

                                </td>
								
							</tr>

                            {% endfor %}
		
						</tbody>
					</table>
				</div>



<div class="table-responsive mt-sm-auto mb-sm-auto">
					<table class="table matches-table standings-table">
						<thead>
							<tr>
								<th>num produit</th>
								<th>nom produit</th>
								<th>prix</th>
								<th>lien</th>


							</tr>
						</thead>
						<tbody id="produits1">

						</tbody>
					</table>
				</div>

                
			</div>
		</main>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

	</style>
		            <script type="text/javascript">
                       $(document).ready(function () {
        $('.addproduit').on('click', function () {
        var id = $(this).val();
        $('#produits1').empty();
        $('#produits1').append(`<tr><td value="0">Processing...</td></tr>`);
        $.ajax({
           type: "GET",
                    url: "{{ path('voirproduitcommandeaj') }}",
					data: {
                            'q' : id
                        },
                        dataType: "text",
                   
        success: function (response) {
        var i=1;
        var response = JSON.parse(response);
        console.log(response);
        $('#produits1').empty();
       

	 $.each(response, function(key, value) 
	 			{
	 				$('#produits1').append(
						 '<tr><td>'+value['idp']+'</td>'+
						'<td class="standings-table__team"><figure class="match-team" role="group"><figure class="match-team-logo match-team-logo--team-3" role="group">'+
						'<img src="{{asset('front_office/assets/img/samples/logo-panthers-30.png')}}" srcset="{{asset('front_office/assets/img/samples/logo-panthers-30.png')}}" alt="">'+
						'</figure><figcaption><div class="match-team__country ">'+value['name']+'</div></figcaption></figure></td>'+
						'<td class="standings-table__wins">'+value['prix']+'</td>'+
						'<td class="standings-table__losses">'+value['lien']+'</td>'+
						'<td><img src="{{'upload/images/'}}" alt="" height="200px" widh="200px"></td></tr>'


						 
					);

				});

    }
});
});
					   });
                </script>

{% endblock %}
