{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Table des Fournisseurs</h4>
                <p class="card-description"> <code>Faite attention lors de la supmod des données!</code></p>
                <div class="table-responsive">
                    <table class="table">

                        <thead>
                        <tr>
                            <th>Photo</th>
                            <th>ID</th>
                            <th>Nom Fournisseur</th>
                            <th>Num telephone</th>
                            <th>Num Fix</th>
                            <th>email</th>
                            <th>Matricule Fiscale</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for fournisseur in fournisseurs %}
                            <tr>
                                <td class="preview-thumbnail"><img class="img-xs rounded-circle" src="{{ asset('/photo_upload/'~ fournisseur.photo) }}" alt=""></td>
                                <td class="text-success">{{ fournisseur.idFournisseur }}</td>
                                <td>{{ fournisseur.nomFournisseur }}</td>
                                <td>{{ fournisseur.numtelFournisseur }}</td>
                                <td>{{ fournisseur.numfixeFournisseur }}</td>
                                <td>{{ fournisseur.email }}</td>
                                <td>{{ fournisseur.matriculeFiscale }}</td>
                                <td><a href="{{ absolute_url(asset('')) }}fournisseur/delete/{{ fournisseur.idFournisseur }}"><label class="btn btn-outline-danger btn-icon-text"><i class="mdi mdi-delete-forever Icon-md"></i> Delete</label></a>
                                    <a href="{{ absolute_url(asset('')) }}fournisseur/update/{{ fournisseur.idFournisseur }}"><label class="btn btn-outline-warning btn-icon-text"><i class="mdi mdi-file-check btn-icon-append Icon-md"></i> Edit</label></a>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}