{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-header">
        <h3 class="page-title"> Form elements </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Marchandises</a></li>
                <li class="breadcrumb-item active" aria-current="page">Modifier Marchandise</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Modifier Marchandise</h4>
                    {{form_start(form_update, {'attr': {'novalidate':'novalidate','class':'form-sample'}}) }}
                    {# <form class="form-sample"> #}
                    <p class="card-description">Informations </p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Nom Marchandise</label>
                                <div class="col-sm-9">
                                    {{form_widget(form_update.nomMarchandise,{'attr': {'class':'form-control'}})  }}
                                    <div class="text-danger">{{form_errors(form_update.nomMarchandise) }}</div>

                                    {# <input type="text" class="form-control" />#}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Categorie</label>
                                <div class="col-sm-9">
                                    {{form_widget(form_update.categorieMarchandise,{'attr': {'class':'form-control'}})  }}
                                    <div class="text-danger">{{ form_errors(form_update.categorieMarchandise) }}</div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Date D'arrivee</label>
                                <div class="col-sm-9">
                                    {{form_widget(form_update.dateArrive,{'attr': {'class':'form-control'}})  }}
                                    <div class="text-danger">{{ form_errors(form_update.dateArrive) }}</div>

                                    {#                                                <input class="form-control" placeholder="dd/mm/yyyy" />#}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Id Fourn</label>
                                <div class="col-sm-9">
                                    {{form_widget(form_update.idFournisseur,{'attr': {'class':'form-control'}})  }}
                                    <div class="text-danger">{{ form_errors(form_update.idFournisseur) }}</div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <p class="card-description"> Budget </p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Quantite</label>
                                <div class="col-sm-9">
                                    {{form_widget(form_update.quantite,{'attr': {'class':'form-control'}})  }}
                                    <div class="text-danger">{{ form_errors(form_update.quantite) }}</div>
                                    {#<input type="text" class="form-control" />#}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Prix unitaire</label>
                                <div class="col-sm-9">
                                    {{form_widget(form_update.prixUnitaireMarchandise,{'attr': {'class':'form-control'}})  }}
                                    <div class="text-danger">{{ form_errors(form_update.prixUnitaireMarchandise) }}</div>

                                    {#<input type="text" class="form-control" />#}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Prix Totale</label>
                                <div class="col-sm-9">
                                    {{form_widget(form_update.prixTotalMarchandise,{'attr': {'class':'form-control'}})  }}
                                    <div class="text-danger">{{ form_errors(form_update.prixTotalMarchandise) }}</div>
                                    {#<input type="text" class="form-control"/>#}
                                </div>
                            </div>
                        </div>
                    </div>
                    {#{{form_widget(form_update.save,{'attr': {'class':'btn btn-info btn-lg btn-block'}})}}#}
                    <button type="submit" class="btn btn-info btn-lg btn-block">Enregistrer</button>
                    {{ form_end(form_update) }}
                </div>
            </div>
        </div>
    </div>

    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->

    <!-- partial -->

{% endblock %}